<h3>Cesta</h3>
<div *ngIf="productosComprados$ | async as productComprados ; else vacio">
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Unidades</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productComprados">
      <td>{{producto.nombre}}</td>
      <td>{{producto.precio}} euros/kilo</td>
      <td>{{producto.unidades}}</td>
      <td><app-boton-borrar (borrar)="borrarProducto(producto.id)"></app-boton-borrar></td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #vacio><div>No hay productos en la cesta</div></ng-template>

